.menuDiv{
    background-color: rgb(235, 235, 235);
    border: 1px black solid;
    margin: 5px;
    height: 240px;
    width: 220px;
    position: absolute;
}

.calcDiv {
    background-color: rgb(235, 235, 235);
    height: 140px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.binTxt{
    font-family: monospace;
    font-size: 22px;
    padding-left: 30px;
    margin-top: 10px;
}

.hexTxt{
    font-family: monospace;
    font-size: 22px;
    padding-left: 30px;
    padding-top: 10px;
}

.octTxt{
    font-family: monospace;
    font-size: 22px;
    padding-left: 30px;
    padding-top: 10px;
}

.decTxt{
    font-family: monospace;
    font-size: 22px;
    padding-left: 30px;
    padding-top: 10px;
}

.binTxt, .hexTxt, .octTxt, .decTxt {
    transition: transform 0.3s;
  }

.binTxt:hover, .hexTxt:hover, .octTxt:hover, .decTxt:hover{
    transform: scale(1.1)
}

.numberOne {
    width: 125px; 
    height: 25px;
    font-size: 28px;
    margin-left: 75px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-family: monospace;
    border: none;
}

.numberTwo {
    width: 125px;
    height: 25px;
    font-size: 28px;
    margin-left: 75px;
    margin-bottom: 10px;
    font-family: monospace;
    border: none;
}

.outputBox{
    width: 142px;
    height: 25px;
    font-size: 28px;
    margin-left: 75px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: monospace;
    border: none; 
}

.resultButton {
    margin-left: 540px;
    margin-top: 500px;
    background-color: rgb(235, 235, 235);
    color: black; 
    border: none;
    font-family: monospace;
    width: 100px;
    height: 24px;
    transition: transform 0.3s, color 0.3s, background-color 0.3s; 
}

.resultButton:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    transform: scale(1.05);
}

.resultButton:active {
    background-color: rgb(117, 117, 117);
    transition: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.resetButton {
    margin-left: 227px;
    margin-top: 500px;
    background-color: rgb(235, 235, 235);
    color: black; 
    border: none;
    font-family: monospace;
    width: 70px;
    height: 24px;
    transition: transform 0.3s, color 0.3s, background-color 0.3s; 
}

.resetButton:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    transform: scale(1.05);
}

.resetButton:active {
    background-color: rgb(117, 117, 117);
    transition: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.opSelect {
    position: relative;
    top: -125px;
    left: 290px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
}

.opSelect option:checked {
    background-color: rgb(117, 117, 117);
    color: white;
}

.opSelect:hover {
    background-color: #f0f0f0;
}



