body{
    background-color: rgb(249, 246, 246);
}

.calcDiv {
    background-color: var(--bg-calcDiv-background-white);
    height: 140px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s;
}

.dark-mode .calcDiv {
    background-color: var(--bg-calcDiv-background-dark); 
}

.binCalTxt {
    position: absolute; 
    font-family: monospace;
    font-size: 20px;
    top: 295px; 
    left: 550px; 
}

.numberOne {
    width: 125px; 
    height: 25px;
    font-size: 28px;
    margin-left: 75px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-family: monospace;
    border: none;
}

.numberTwo {
    width: 125px;
    height: 25px;
    font-size: 28px;
    margin-left: 75px;
    margin-bottom: 10px;
    font-family: monospace;
    border: none;
}

.outputBox{
    width: 248px;
    height: 25px;
    font-size: 28px;
    margin-left: 75px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: monospace;
    border: none; 
}

.resultButton {
    margin-left: 540px;
    margin-top: 500px;
    background-color: rgb(235, 235, 235);
    color: black; 
    border: none;
    font-family: monospace;
    font-size: 12px;
    width: 100px;
    height: 24px;
    transition: transform 0.3s, color 0.3s, background-color 0.3s; 
}

.resultButton:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    transform: scale(1.05);
}

.resultButton:active {
    background-color: rgb(117, 117, 117);
    transition: none;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);

}

.dark-mode .resultButton {
    background-color: var(--bg-calcDiv-background-dark); 
    color: white;
}

.dark-mode .resultButton:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    transform: scale(1.05);
}

.dark-mode .resultButton:active {
    background-color: rgb(117, 117, 117);
    transition: none;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);

}

.resetButton {
    margin-left: 227px;
    margin-top: 500px;
    background-color: rgb(235, 235, 235);
    color: black; 
    border: none;
    font-family: monospace;
    width: 70px;
    height: 24px;
    transition: transform 0.3s, color 0.3s, background-color 0.3s; 
    font-size: 12px;
}

.resetButton:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    transform: scale(1.05);
}

.resetButton:active {
    background-color: rgb(117, 117, 117);
    transition: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.dark-mode .resetButton {
    background-color: var(--bg-calcDiv-background-dark); 
    color: white;
}

.dark-mode .resetButton:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    transform: scale(1.05);
}

.dark-mode .resetButton:active {
    background-color: rgb(117, 117, 117);
    transition: none;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}


.opSelect {
    position: relative;
    top: -121px;
    left: 265px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    font-family: monospace;
    width: 120px;
    font-size: 12px;
    height: 20px;
}

.opSelect option:checked {
    background-color: rgb(117, 117, 117);
    color: white;
}

.opSelect option:hover {
    background-color: rgb(117, 117, 117); 
    color: white; 
}

:root {
    --bg-color-light: rgb(249, 246, 246);
    --bg-color-dark: rgb(50, 50, 50);

    --bg-calcDiv-background-dark: rgb(69, 69, 69);
    --bg-calcDiv-background-white: rgb(235, 235, 235);

    --text-color-light: black;
    --text-color-dark: white;
}

body {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.darkModeButton{
    position: absolute;
    top: 810px; 
    left: 10px; 
    font-size: 12px;
    background-color: rgb(235, 235, 235);
    color: black; 
    border: none;
    font-family: monospace;
    width: 100px;
    height: 24px;
    transition: transform 0.3s, color 0.3s, background-color 0.3s; 
}

.darkModeButton:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    transform: scale(1.05);
}

.darkModeButton:active {
    background-color: rgb(117, 117, 117);
    transition: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.dark-mode .darkModeButton {
    background-color: var(--bg-calcDiv-background-dark); 
    color: white;
}

.dark-mode .darkModeButton:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    transform: scale(1.05);
}

.dark-mode .darkModeButton:active {
    background-color: rgb(117, 117, 117);
    transition: none;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}
