:root {
    --bg-color-light: rgb(249, 246, 246);
    --bg-color-dark: rgb(50, 50, 50);

    --bg-mainDiv-background-dark: rgb(109, 109, 109);
    --bg-mainDiv-background-white: rgb(235, 235, 235);

    --text-color-light: black;
    --text-color-dark: white;
}

.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
}

.mainDiv {
    padding: 20px;
    width: 700px;
    height: 1200px;
    align-items: center;
    background-color: var(--bg-mainDiv-background-white);
}

.dark-mode .mainDiv {
    background-color: var(--bg-mainDiv-background-dark);
}

.homeButton {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 12px;
    background-color: rgb(230, 230, 230);
    color: black;
    font-family: monospace;
    width: 100px;
    height: 24px;
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeButton:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    transform: scale(1.05);
}

.homeButton:active {
    background-color: rgb(117, 117, 117);
    transition: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dark-mode .homeButton {
    background-color: var(--bg-mainDiv-background-dark); 
    color: white;
}

.dark-mode .homeButton:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    transform: scale(1.05);
}

.dark-mode .homeButton:active {
    background-color: rgb(117, 117, 117);
    transition: none;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.userGuideTxt{
    font-family: monospace;
    font-size: 12px;
}

.userGuideTitle{
    font-family: monospace;
    font-size: 40px;
    margin-top: -10px;
}

.binaryCalcSs{
    border: solid 1px black;
    height: 240px;
}

.dark-mode .binaryCalcSs{
    border-color: white;
}

.binaryCalcSsAddition{
    border: solid 1px black;
    height: 180px;
}

.dark-mode .binaryCalcSsAddition{
    border-color: white;
}

.binaryToDecimalSs{
    border: solid 1px black;
    height: 180px;
}

.dark-mode .binaryToDecimalSs{
    border-color: white;
}